  <ng-container *ngIf="tasksList.length > 0; else noTask" class="taskslist">
    <p [ngStyle]="{color: getColor()}">TO DO: {{tasksList.length}}</p>
    <ul class="list-group list-group-flush">
      <li class="list-group-item list-group-item-action " appDate [date]="task.created" *ngFor="let task of tasksList; let odd = odd" [ngClass]="{'list-group-item-light' : odd, 'list-group-item-danger' : tasksList.length===1}">
        {{task.name | transformTask: '!'}}
        <button type="button" class="btn btn-success float-right" (click)="done(task)">done</button>
        <button  type="button" class="btn btn-danger float-right" (click)="remove(task)">delete</button>
      </li>
    </ul>
  </ng-container>


<ng-template #noTask >
  <p id="noTaskLabel" class="taskslist">{{noTaskMessage}}</p>
</ng-template>

